$color-text-1: #232735;
$color-text-2: #505565;
$color-text-3: #6E7692;
$color-text-4: #B3B7C6;

$color-brand-1: #51AAF4;
$color-brand-2: #1479CB;
$color-brand-3: #8FCCFF;
$color-brand-4: #3897E5;
$color-brand-5: #DFF1FF;

$color-primary-1: #42A5F5;
$color-primary-2: #2C3B50;
$color-primary-3: #FFFFFF;
$color-primary-4: #F6F8FA;
$color-primary-5: #5EC5F8;

$color-secondary-1: #8F9CF2;
$color-secondary-2: #F48FB1;
$color-secondary-3: #9575CD;
$color-secondary-4: #39B6C4;
$color-secondary-5: #AAADC4;
$color-secondary-6: #F0F3F7;
$color-secondary-7: #FFF176;
$color-secondary-8: #415775;
$color-secondary-9: #3FA9EC;
$color-secondary-10: #EFF8FF;

$color-system-success: #2EE672;
$color-system-error: #FF6F6F;
$color-system-warning: #FF9D3B;
$color-system-info: #42A5F5;

$color-gradient-1: #4197EF;
$color-gradient-2: #61C3FF;

$color-transparent: transparent;

$color-lifeplan-haji: #FFA562;
$color-lifeplan-liburan: #A3B3EF;
$color-lifeplan-pensiun: #EA8A62;
$color-lifeplan-pendidikan: #5ED07E;
$color-lifeplan-darurat: #3FA9EC;
$color-lifeplan-mobil: #FFA8A8;
$color-lifeplan-rumah: #5ED0CF;
$color-lifeplan-pernikahan: #7ed0f9;
$color-lifeplan-lainnya: #7581CE;

$color-disabled: #A0A5B7;

.color-primary-1 {
  color: $color-primary-1 !important;
}
.color-primary-2 {
  color: $color-primary-2 !important;
}
.color-primary-3 {
  color: $color-primary-3 !important;
}
.color-primary-4 {
  color: $color-primary-4 !important;
}
.color-primary-5 {
  color: $color-primary-5 !important;
}


.color-secondary-1 {
  color: $color-secondary-1 !important;
}
.color-secondary-2 {
  color: $color-secondary-2 !important;
}
.color-secondary-3 {
  color: $color-secondary-3 !important;
}
.color-secondary-4 {
  color: $color-secondary-4 !important;
}
.color-secondary-5 {
  color: $color-secondary-5 !important;
}
.color-secondary-6 {
  color: $color-secondary-6 !important;
}
.color-secondary-7 {
  color: $color-secondary-7 !important;
}
.color-secondary-8 {
  color: $color-secondary-8 !important;
}
.color-secondary-9 {
  color: $color-secondary-9 !important;
}
.color-secondary-10 {
  color: $color-secondary-10 !important;
}

.color-system-success {
  color: $color-system-success !important;
}
.color-system-error {
  color: $color-system-error !important;
}
.color-system-warning {
  color: $color-system-warning !important;
}
.color-system-info {
  color: $color-system-info !important;
}

.color-gradient-1 {
  color: $color-gradient-1 !important;
}
.color-gradient-2 {
  color: $color-gradient-2 !important;
}

.color-transparent {
  color: $color-transparent !important;
}

.color-disabled {
  color: $color-disabled !important;
}

.color-black {
  color: #000 !important;
}


.bg-primary-1 {
  background-color: $color-primary-1 !important;
}
.bg-primary-2 {
  background-color: $color-primary-2 !important;
}
.bg-primary-3 {
  background-color: $color-primary-3 !important;
}
.bg-primary-4 {
  background-color: $color-primary-4 !important;
}
.bg-primary-5 {
  background-color: $color-primary-5 !important;
}


.bg-secondary-1 {
  background-color: $color-secondary-1 !important;
}
.bg-secondary-2 {
  background-color: $color-secondary-2 !important;
}
.bg-secondary-3 {
  background-color: $color-secondary-3 !important;
}
.bg-secondary-4 {
  background-color: $color-secondary-4 !important;
}
.bg-secondary-5 {
  background-color: $color-secondary-5 !important;
}
.bg-secondary-6 {
  background-color: $color-secondary-6 !important;
}
.bg-secondary-7 {
  background-color: $color-secondary-7 !important;
}
.bg-secondary-8 {
  background-color: $color-secondary-8 !important;
}
.bg-secondary-9 {
  background-color: $color-secondary-9 !important;
}
.bg-secondary-10 {
  background-color: $color-secondary-10 !important;
}

.bg-system-success {
  background-color: $color-system-success !important;
}
.bg-system-error {
  background-color: $color-system-error !important;
}
.bg-system-warning {
  background-color: $color-system-warning !important;
}
.bg-system-info {
  background-color: $color-system-info !important;
}

.bg-gradient-1 {
  background-color: $color-gradient-1 !important;
}
.bg-gradient-2 {
  background-color: $color-gradient-2 !important;
}

.bg-transparent {
  background-color: $color-transparent !important;
}

.bg-lifeplan-haji {
  background-color: $color-lifeplan-haji !important
}
.bg-lifeplan-pernikahan {
  background-color: $color-lifeplan-pernikahan !important
}
.bg-lifeplan-lainnya {
  background-color: $color-lifeplan-lainnya !important
}
.bg-lifeplan-pendidikan {
  background-color: $color-lifeplan-pendidikan !important
}
.bg-lifeplan-mobil {
  background-color: $color-lifeplan-mobil !important
}
.bg-lifeplan-rumah {
  background-color: $color-lifeplan-rumah !important
}
.bg-lifeplan-pensiun {
  background-color: $color-lifeplan-pensiun !important
}
.bg-lifeplan-liburan {
  background-color: $color-lifeplan-liburan !important
}
.bg-lifeplan-darurat {
  background-color: $color-lifeplan-darurat !important
}

.border-primary-1 {
  border-color: $color-primary-1 !important;
}
.border-primary-2 {
  border-color: $color-primary-2 !important;
}
.border-primary-3 {
  border-color: $color-primary-3 !important;
}
.border-primary-4 {
  border-color: $color-primary-4 !important;
}

.border-secondary-1 {
  border-color: $color-secondary-1 !important;
}
.border-secondary-2 {
  border-color: $color-secondary-2 !important;
}
.border-secondary-3 {
  border-color: $color-secondary-3 !important;
}
.border-secondary-4 {
  border-color: $color-secondary-4 !important;
}
.border-secondary-5 {
  border-color: $color-secondary-5 !important;
}
.border-secondary-6 {
  border-color: $color-secondary-6 !important;
}
.border-secondary-7 {
  border-color: $color-secondary-7 !important;
}
.border-secondary-8 {
  border-color: $color-secondary-8 !important;
}
.border-secondary-9 {
  border-color: $color-secondary-9 !important;
}
.border-secondary-10 {
  border-color: $color-secondary-10 !important;
}

.border-system-success {
  border-color: $color-system-success !important;
}
.border-system-error {
  border-color: $color-system-error !important;
}
.border-system-warning {
  border-color: $color-system-warning !important;
}
.border-system-info {
  border-color: $color-system-info !important;
}

.border-gradient-1 {
  border-color: $color-gradient-1 !important;
}
.border-gradient-2 {
  border-color: $color-gradient-2 !important;
}


// new

// color text
.color-text-1 {
  color: $color-text-1 !important;
}
.color-text-2 {
  color: $color-text-2 !important;
}
.color-text-3 {
  color: $color-text-3 !important;
}
.color-text-4 {
  color: $color-text-4 !important;
}

// color brand
.color-brand-1 {
  color: $color-brand-1 !important;
}
.color-brand-2 {
  color: $color-brand-2 !important;
}
.color-brand-3 {
  color: $color-brand-3 !important;
}
.color-brand-4 {
  color: $color-brand-4 !important;
}
.color-brand-5 {
  color: $color-brand-5 !important;
}

.bg-brand-1 {
  background-color: $color-brand-1 !important;
}
.bg-brand-2 {
  background-color: $color-brand-2 !important;
}
.bg-brand-3 {
  background-color: $color-brand-3 !important;
}
.bg-brand-4 {
  background-color: $color-brand-4 !important;
}
.bg-brand-5 {
  background-color: $color-brand-5 !important;
}

// Supportif
@import './colors/supportive.scss';
@import './colors/denotive.scss';
