// Nexa
@font-face {
  font-family: "Nexa-Bold";
  font-display: swap;
  src: url("./fonts/nexa/Nexa-Bold.otf")
}

@font-face {
  font-family: "Nexa-Light";
  font-display: swap;
  src: url("./fonts/nexa/Nexa-Light.otf")
}

// Avenir
@font-face {
  font-family: "Avenir-Regular";
  font-display: swap;
  src: url("./fonts/avenir/AvenirNext-Regular.woff") format('woff');
}

@font-face {
  font-family: "Avenir-Medium";
  font-display: swap;
  src: url("./fonts/avenir/AvenirNext-Medium.woff") format('woff');
}

@font-face {
  font-family: "Avenir-Bold";
  font-display: swap;
  src: url("./fonts/avenir/AvenirNext-Bold.woff") format('woff');
}
