body{
  max-width: 100vw;
  overflow-x: hidden;
}

.v-tabs__wrapper {
  border-bottom: 1px solid #E9ECF0
}

.ls-5 {
  letter-spacing: .5px;
}

input {
  font-size: 14px
}

//disable scrollbar
.element::-webkit-scrollbar {
  width: 0 !important
}

//mozila
.element {
  overflow: -moz-scrollbars-none
}

.v-btn {
  font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  height: 40px;
  text-transform: none !important;
  margin: 0px !important;
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 17px;
}

.full-height {
  height: 100vh;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #E9ECF0;
}

.theme--light .toolbar {
  background-color: $color-primary-4;
}

.application.theme--light {
  background-color: $color-primary-4;
}

.application .theme--light.v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot {
  background-color: $color-primary-4;
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 16px;
}

.v-carousel__controls__item .v-btn__content, .v-carousel__left .v-btn__content, .v-carousel__right .v-btn__content {
  color: $color-primary-1;
}

.v-carousel__controls {
  background: $color-primary-4 !important;
}

.finacheck-fqt-input .btn.btn--active.btn--flat {
  background: $color-primary-1 !important;
  color: $color-primary-3;
}

.center-vert {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%
}

.full-width-page {
  width: 100vw
}

.scroll-wrapper {
  scroll-snap-type: x mandatory;
}

.scroll-wrapper::-webkit-scrollbar {
  width: 0
}

.scroll-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent
}

.scroll-child {
  scroll-snap-align: center;
}

.card-radius {
  border-radius: 12px;
}

.btn-radius {
  border-radius: 6px;
}

.card-radius-new {
  border-radius: 8px
}

.card-border {
  border: 1px solid $color-secondary-6;
}

.card-shadow {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 12px 8px rgba(65,71,80,0.05), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
}

.box-shadow-short {
  -webkit-box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43);
  -moz-box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43);
  box-shadow: 0px 2px 2px rgba(232, 233, 238, 0.43);
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
}

.card-border-blue {
  border: 2px solid $color-primary-1;
}

.application .theme--light.v-toolbar, .theme--light .v-toolbar, .card-toolbar, .card-toolbar.toolbar {
  background-color: $color-primary-3;
  border-bottom: 1px solid $color-secondary-6;
}

.card-toolbar .toolbar__content {
  height: 38px !important;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.medium-text {
  font-size: 12px;
}

.small-text {
  font-size: 9px;
}

.acard {
  margin-bottom: 15px;
}

.v-text-field__prefix {
  width: 26px;
}

.bg-gradient {
  background-image: linear-gradient(to right, #F6F6F7, #FFFFFF)
}

.gradient {
  background: linear-gradient(to right, #4197EF, #61C3FF)
}

.toolbar-margin {
  margin-top: 48px !important
}

.disable-vertical-scrolling {
  overflow-y: hidden
}

// Circle blank
.circle-blank {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #FAF9DF
}

.min-height {
  min-height: calc(100vh - 48px)
}

.min-height-full {
  min-height: 100vh
}

// For circle asset
.circle {
  background-color: white;
  border-radius: 50%;
  max-width: 8px;
  min-height: 8px;
  margin: auto;
}
.circle-saham {
  border: 4px solid #EF5350;
}
.circle-campuran {
  border: 4px solid #9575CD;
}
.circle-emas {
  border: 4px solid #FFB300;
}
.circle-tetap {
  border: 4px solid #42A5F5;
}
.circle-uang {
  border: 4px solid #10CF99;
}
.circle-red {
  border: #F26969 4px solid;
}
.circle-green {
  border: #2EE672 4px solid;
}
.circle-blue {
  border: #0088F5 4px solid;
}
.circle-yellow {
  border: #FFD13B 4px solid;
}
.circle-blue-sky {
  border: #73D2FF 4px solid;
}
.circle-purple {
  border: #9575CD 4px solid;
}

// Scrolling fix for iOS
.scroll-ios {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  background: white;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.scroll-ios embed {
  width: 100%;
  height: 100%;
  border: none
}

.scroll-ios iframe {
  width: 100%;
  height: 100%;
  border: none
}

.v-text-field.v-text-field--solo .v-input__control {
    min-height: 40px !important;
}

.box-shadow-up {
  box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.12)
}

.relative-height {
  margin-bottom: -24%;
  padding-bottom: 24%
}

.border-top-radius {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.application .theme--light.v-toolbar, .theme--light .v-toolbar, .card-toolbar, .card-toolbar.toolbar {
  border-bottom: 0px solid #F0F3F7
}
.v-btn--block {
  margin: 0px !important
}
.theme--light .v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #F9FAFC !important;
  color: white !important;
}
.v-label {
  font-size: 14px !important;
}
.v-select__selections {
  font-size: 14px !important;
}
.v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot {
  border-radius: 8px !important;
}
.v-text-field.v-text-field--solo .v-input__control {
  min-height: 32px !important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0px !important
}
.v-tabs__div {
  text-transform: none !important;
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
}
.v-input__slot {
  height: 40px;
}
.v-divider {
  border-color: #F6F6F7 !important;
}

.clear-right {
  clear: right
}

.clear-left {
  clear: left
}

.clear-both {
  clear: both
}

.border-y {
  border-top: 1px solid #E8EAEF;
  border-bottom: 1px solid #E8EAEF;
}

.border-thin {
  // height: 1px;
  width: 100%;
  border: 0.5px solid #E8EAEF
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
  background-color: #E0E0E0 !important;
}

.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
    animation: shimmer 2s infinite;
    content: '';
  }

  &.r-8 {
    border-radius: 8px;
  }
  &.r-50 {
    border-radius: 50%;
  }
  &.text {
    background-color: #E4E8F5;
    height: 14px;
    border-radius: 4px;
  }
  &.bg {
    background-color: #CED3E9;
  }
  &.not-overflow {
    overflow: initial !important;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%)
  }
}
