<template>
  <div ref="page" class="page" />
</template>

<script>
import { tracker } from '@/services/tracker/tracker/tracker.js'

export default {
  name: 'TrackedPage',
  data() {
    return {
      root: undefined,
      customProps: {},
    }
  },

  created() {
    tracker(
      { type: 'page opened' },
      Object.assign({}, this.customProps)
    )
  },
  mounted() {
    this.page = this.$el
    this.$nextTick(() => {
      tracker(
        {
          type: 'page rendered',
          target: this.page,
        },
        Object.assign({}, this.customProps)
      )
    })
  },
  beforeDestroy() {
    tracker(
      {
        type: 'page scrolled',
        target: this.page,
      },
      Object.assign({}, this.customProps)
    )
  },
}
</script>
