$denotive-green-1: #17CF82;
$denotive-green-2: #DAFEEF;
$denotive-green-3: #08AD67;
$denotive-yellow-1: #FBAF18;
$denotive-yellow-2: #FFF3DB;
$denotive-yellow-3: #ECA518;
$denotive-red-1: #E52A34;
$denotive-red-2: #FFE0E1;
$denotive-red-3: #C71923;
$denotive-blue-1: #388BF2;
$denotive-blue-2: #DEECFD;
$denotive-blue-3: #236CC6;

// color text
.color-denotive-green-1 {
  color: $denotive-green-1 !important;
}
.color-denotive-yellow-1 {
  color: $denotive-yellow-1 !important;
}
.color-denotive-red-1 {
  color: $denotive-red-1 !important;
}
.color-denotive-blue-1 {
  color: $denotive-blue-1 !important;
}

.color-denotive-green-3 {
  color: $denotive-green-3 !important;
}
.color-denotive-yellow-3 {
  color: $denotive-yellow-3 !important;
}
.color-denotive-red-3 {
  color: $denotive-red-3 !important;
}
.color-denotive-blue-3 {
  color: $denotive-blue-3 !important;
}

// background color
.bg-denotive-green-2 {
  background-color: $denotive-green-2 !important;
}
.bg-denotive-yellow-2 {
  background-color: $denotive-yellow-2 !important;
}
.bg-denotive-red-2 {
  background-color: $denotive-red-2 !important;
}
.bg-denotive-blue-2 {
  background-color: $denotive-blue-2 !important;
}
