<template>
  <div class="finacheck-input-kyc-bank bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Data Rekening" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <div class="progress-line" v-if="progressLine < 100" :style="'width: ' + progressLine + '%'"></div>
    <v-container class="pa-0 toolbar-margin" v-if="isLoaded === true">
      <!-- If User haven't done Inserting Data -->
      <v-layout column v-if="doneInserting === false">
        <v-form>
          <v-window v-model="step" :touchless="true">
            <template>
              <!-- Nama Bank -->
              <v-window-item>
                <v-card-text class="px-20 pt-20 avenir-14-reg color-text-3 pb-2">
                  Nama Bank
                </v-card-text>
                <div class="border-bottom-list text-area">
                  <v-text-field class="pb-3 avenir-16-reg color-text-4 mx-20" placeholder="Cari Rekening Bank" solo flat v-model="search" hide-details prepend-inner-icon="search"></v-text-field>
                </div>
                <v-layout column class="margin-bottom-ktp">
                  <v-layout row justify-space-between px-20 py-3 v-for="(data, index) in filteredData" :key="index" @click="plusStep(true, data.bank_code, data.bank_name)" class="border-bottom-list">
                    <span class="avenir-16-reg">{{data.bank_name}}</span>
                    <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
                  </v-layout>
                </v-layout>
              </v-window-item>
              <!-- Nomor Rekening -->
              <v-window-item class="pt-140 px-20 kode-pos mb-5">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Nomor Rekening"
                      placeholder="Masukkan Nomor Rekening"
                      :rules="[rules.required, rules.numbers]"
                      v-model="norekening"
                      type="tel"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- Nomor Rekening -->
              <v-window-item class="pt-140 px-20 kode-pos mb-5">
                <v-layout column>
                  <v-flex xs12>
                    <v-text-field
                      label="Nama lengkap pemilik rekening"
                      placeholder="Nama lengkap"
                      type="text"
                      :rules="[rules.required]"
                      v-model="pemilik"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-window-item>
              <!-- result -->
              <v-window-item>
                <div class="pt-3 mb-5">
                  <div class="mx-20">
                    <v-card-text class="avenir-16-reg color-text-3 pb-3 mb-3 border-bottom-list" v-if="canSubmit">
                      Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar
                    </v-card-text>
                  </div>
                  <div class="px-20" v-for="(data, index) in dataResult" :key="index">
                    <v-layout row>
                      <v-flex xs10>
                        <v-card-text class="avenir-14-reg color-text-3 pb-3">
                          {{data.title}}
                        </v-card-text>
                      </v-flex>
                      <v-flex xs2 @click="edit(index)" v-if="canSubmit">
                        <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                          Edit
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                    <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                      {{data.desc}}
                    </v-card-text>
                  </div>
                  <v-card-text class="avenir-16-reg color-text-3 pb-4 px-20">
                    Rekening yang kamu isi akan digunakan sebagai rekening penerima dana pencairan.
                  </v-card-text>
                </div>
              </v-window-item>
            </template>
          </v-window>
          <!-- Button Submit -->
          <template v-if="canSubmit">
            <v-btn color="primary" :disabled="isDisabled" v-if="step === 1 || step === 2" class="btn-next nexa-16-bold" depressed @click="plusStep(false, null, null)"> Lanjut </v-btn>
            <v-btn color="primary" v-if="step === 3" class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
          </template>
        </v-form>
        <!-- Blank box for Scrolling -->
        <div :class="scroll === true ? 'blank-box' : ''"></div>
      </v-layout>
      <!-- If User done Insert Data -->
      <v-layout column v-else>
        <br />
        <!-- Card account -->
        <v-card flat class="pa-4 mx-3 card-bank-border box-shadow">
          <v-layout column justify-center align-center>
            <img :src="bank.image" style="height: 54px; width: auto; align-self: flex-end; margin-bottom: 16px"/>
            <v-card-text class="avenir-12-reg pa-0 mb-1">{{ bank.company }}</v-card-text>
            <v-card-text class="avenir-16-med pa-0 mb-1">{{ pemilik }}</v-card-text>
            <v-card-text class="avenir-16-reg pa-0">{{ norekening }}</v-card-text>
          </v-layout>
        </v-card>
        <!-- Card Description -->
        <v-card flat class="pa-4">
          <v-layout column>
            <v-card-text class="avenir-12-reg pa-0">Rekening ini diperlukan untuk penerimaan dana pencairan. Pencairan mungkin dikenakan biaya transfer antar bank, tergantung ketentuan pada tiap produk reksa dana.</v-card-text>
            <br />
            <v-card-text class="avenir-12-reg pa-0">Rekening ini juga akan digunakan sebagai rekening penerimaan imbal hasil SBN yang dikirimkan setiap bulan dan pencairan dana pada saat jatuh tempo. kamu tidak akan dikenakan biaya transfer.</v-card-text>
          </v-layout>
        </v-card>
        <div class="px-3">
          <!-- Button Lanjut -->
          <v-btn block color="primary" depressed @click="submit()" class="btn-radius box-shadow" :disabled="isDisabled || bank === '' || norekening === '' || pemilik === '' || bank === null || typeof bank === 'string' || norekening === null || pemilik === null">Lanjut</v-btn>
          <!-- Button Submit -->
          <!-- <v-btn block color="primary" depressed flat class="card-radius box-shadow" @click="submit">Simpan & Lanjutkan Nanti</v-btn> -->
        </div>
      </v-layout>
    </v-container>
    <v-container v-else class="toolbar-margin">
      <v-layout  align-center justify-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <reusable-dialogs
      :is-open="dialogError"
      :resize-image="true"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VTextField, VAutocomplete, VForm, VWindow, VWindowItem } from 'vuetify/lib'
import Api from '@/services/Api'
import { setRouteToLocalStorage } from '@/services/Helpers'

export default {
  components: {
    VTextField, VAutocomplete, VForm, VWindow, VWindowItem
  },
  name: 'FinacheckKycBank',
  data () {
    return {
      scroll: false,
      screenHeight: screen.height - 48,
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        }
      },
      glossary: null,
      dataResult: [],
      dialogError: false,
      progressLine: 25,
      flagsEdit: false,
      step: 0,
      search: '',
      bank: '',
      bankName: '',
      norekening: '',
      pemilik: '',
      doneInserting: false,
      isLoaded: false,
      bankNames: [],
      dataBank: [],
      isDisabled: false,
      canSubmit: false,
      validation: {
        bankvalidate: null
      },
      postList: [
        {
          title: 'Vue.js',
          link: 'https://vuejs.org/',
          author: 'Chris',
          img: 'https://vuejs.org//images/logo.png'
        },
        {
          title: 'React.js',
          link: 'https://facebook.github.io/react/',
          author: 'Tim',
          img: 'https://daynin.github.io/clojurescript-presentation/img/react-logo.png'
        },
        {
          title: 'Angular.js',
          link: 'https://angularjs.org/',
          author: 'Sam',
          img: 'https://angularjs.org/img/ng-logo.png'
        }
      ]
    }
  },
  watch: {
    norekening: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    },
    pemilik: function (value) {
      if (value === '') {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  },
  methods: {
    setRouteToLocalStorage,
    canSubmitBank () {
      let fromProfile = this.$route.params.flag
      let canSubmit = this.$route.params.submit
      if (fromProfile === 'profile' && canSubmit === 'false') {
        this.canSubmit = false
      } else {
        this.canSubmit = true
      }
    },
    minStep () {
      if (this.flagsEdit === true) {
        if (this.step === 3) {
          this.$router.go(-1)
        } else {
          this.step = 3
          this.progressLine = 100
          this.bankName = this.dataResult[0].desc
          this.norekening = this.dataResult[1].desc
          this.pemilik = this.dataResult[2].desc
        }
      } else {
        if (this.step === 0 || this.step === 3) {
          this.$router.go(-1)
        } else {
          this.step -= 1
          this.progressLine -= 25
        }
      }
    },
    plusStep (list, bankcode, bankname) {
      // list
      if (list === true) {
        this.bank = bankcode
        this.bankName = bankname
      } else {
        //
      }
      // condition flags edit
      if (this.flagsEdit === true) {
        // length vwindow (go to result data)
        this.step = 3
        this.progressLine = 100
      } else {
        this.step += 1
        this.progressLine += 25
        this.flagsEdit = false
      }
      // data result
      let dataSubmit = [
        {
          title: 'Nama Bank',
          desc: this.bankName
        },
        {
          title: 'Nomor Rekening',
          desc: this.norekening
        },
        {
          title: 'Nama lengkap pemilik rekening',
          desc: this.pemilik
        }
      ]
      this.dataResult = dataSubmit
    },
    edit (value) {
      this.step = value
      this.flagsEdit = true
      this.isDisabled = false
      // set width progressLine
      this.progressLine = (value + 1) * 25
    },
    checkFlag () {
      if (this.$route.params.flag === 'profile') {
        this.flagsEdit = true
        this.plusStep()
      }
    },
    scrollUp (id) {
      this.scroll = true
      this.focused = true
      var elmnt = document.getElementById(id)
      elmnt.scrollIntoView({behavior: 'smooth'})
    },
    submit () {
      this.isDisabled = true
      if (this.$route.params.flag === 'profile' && this.$route.params.submit === 'false') {
        Api('finacheck/kyc/update', {
          name_bank: this.bankName,
          bank_code: this.bank,
          account_number: this.norekening,
          username: this.pemilik
        }).then((res) => {
          this.isDisabled = false
          // this.trackEvent()
          this.$router.push('/profile/settings')
        }).catch(() => {
          this.isDisabled = false
          this.dialogError = true
        })
      } else {
        Api('finacheck/kyc/bank/save', {
          name_bank: this.bankName,
          bank_code: this.bank,
          account_number: this.norekening,
          username: this.pemilik
        }).then((res) => {
          this.isDisabled = false
          this.trackEvent()
          this.$router.push('/v2/input/finacheck/kyc/list/new')
        }).catch(() => {
          this.isDisabled = false
          this.dialogError = true
        })
      }
    },
    dialogs (title, desc) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
    },
    goBack () {
      if (this.doneInserting === true) {
        this.doneInserting = false
      } else {
        this.$router.push('/finacheck/kyc/list')
      }
    },
    getBankData () {
      Api('finacheck/reference/bank/ksei', {})
        .then((res) => {
          this.transformBankData(res.d)
          this.dataBank = res.d
          this.getBankInputData()
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getBankInputData () {
      // get bank dafta
      Api('finacheck/kyc/bank', {})
        .then((res) => {
          if (res.d !== null) {
            this.bank = res.d.bank_code
            this.bankName = res.d.name_bank
            this.norekening = res.d.account_number
            this.pemilik = res.d.username
            this.checkFlag()
          }
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    transformBankData (items) {
      var transformedData = {}
      for (var i = 0; i < items.length; i++) {
        transformedData = {
          text: items[i].bank_name,
          value: {
            bank: items[i].bank_name,
            code: items[i].bank_code,
            company: items[i].company_name,
            image: items[i].bank_image
          }
        }
        this.bankNames.push(transformedData)
      }
    },
    trackEvent () {
      this.$analytics.track('KYC Bank Saved')
    },
    fetchDataList () {
      Api('finapedia/glossary/list', {

      }).then((res) => {
        this.glossary = res.d
      }).catch((err) => {
        this.dialogs('Ada kesalahan', err.m)
      })
    }
  },
  computed: {
    filteredData () {
      let keyword = this.search.toLowerCase()
      return this.dataBank.filter(function (dataBank) { return (dataBank.bank_name + '').toLowerCase().indexOf(keyword) >= 0 })
    }
  },
  created () {
    this.fetchDataList()
    this.getBankData()
    this.canSubmitBank()
    this.setRouteToLocalStorage('/finacheck/kyc/bank')
  }
}
</script>

<style lang="sass">
    .finacheck-input-kyc-bank
      *
        padding: 0
        margin: 0

      .v-toolbar
        box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

      .progress-line
        background: #51AAF4
        height: 4px
        position: fixed
        z-index: 10

      .v-input__slot
        margin-top: 0px
        height: auto !important

      .v-input
        margin-top: 0px

      .btn-next
        width: 100%
        position: fixed
        bottom: 0
        height: 56px !important

      .pt-140
        padding-top: 140px

      .border-bottom-list
        border-bottom: 1px solid #E8EAEF

      .v-label
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        color: #6E7692 !important
        font-size: 16px !important

      .no-border
        .v-input__slot
          border: none !important

      .text-area
        .v-input__slot
          border: 1px solid #E8EAEF
          background-color: #ffffff !important

      .textarea
        margin-top: 0 !important

      .v-text-field__details
        padding-top: 8px

      .kode-pos
        .v-label
          font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
          color: #6E7692 !important
          font-size: 16px !important

        .v-input input
          font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
          font-size: 22px !important
          line-height: 30px
          color: #505565 !important
          height: 60px !important
          max-height: 70px !important
          padding: 8px 0 20px
          padding-bottom: 0

        .theme--light.v-text-field > .v-input__control > .v-input__slot:before
          border-color: #B3B7C6 !important

      .v-icon
        font-size: 18px !important
</style>
