<template>
  <div class="finacheck-input-kyc-job bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Data Pekerjaan" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <v-container v-if="isLoaded === true" class="toolbar-margin">
      <div class="progress-line" v-if="progressLine < 100" :style="'width: ' + progressLine + '%'"></div>
      <v-window v-model="step" :touchless="true">
        <template>
          <!-- Pendidikan -->
          <v-window-item>
            <v-layout column class="pt-20 margin-bottom-ktp">
              <v-card-text class="px-3 avenir-14-med color-text-3 pb-3 border-bottom-list">
                Pendidikan Terakhir
              </v-card-text>
              <v-layout row justify-space-between pa-3 v-for="(data, index) in education" :key="index" @click="plusStep('education', data.description, data.general_code)" class="border-bottom-list">
                <span class="avenir-16-reg">{{data.description}}</span>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
              </v-layout>
            </v-layout>
          </v-window-item>
          <!-- Pekerjaan -->
          <v-window-item>
            <v-layout column class="pt-20 margin-bottom-ktp">
              <v-card-text class="px-3 avenir-14-med color-text-3 pb-3 border-bottom-list">
                Pekerjaan
              </v-card-text>
              <v-layout row justify-space-between pa-3 v-for="(data, index) in jobs" :key="index" @click="plusStep('jobs', data.description, data.general_code)" class="border-bottom-list">
                <span class="avenir-16-reg">{{data.description}}</span>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
              </v-layout>
            </v-layout>
          </v-window-item>
          <!-- Nama -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Pendapatan kotor per bulan"
                placeholder="Pendapatan kotor per bulan"
                v-model="income"
                v-money="money"
                type="tel"
                ref="incomes"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>
          <!-- Pendidikan -->
          <v-window-item>
            <v-layout column class="pt-20 margin-bottom-ktp">
              <v-card-text class="px-3 avenir-14-med color-text-3 pb-3 border-bottom-list">
                Sumber Pendapatan
              </v-card-text>
              <v-layout row justify-space-between pa-3 v-for="(data, index) in sourcefund" :key="index" @click="plusStep('fundsource', data.description, data.general_code)" class="border-bottom-list">
                <span class="avenir-16-reg">{{data.description}}</span>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
              </v-layout>
            </v-layout>
          </v-window-item>
          <!-- Confirmation -->
          <v-window-item>
            <v-layout column px-3 pt-4 pb-5>
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar
              </v-card-text>

              <div v-for="(data, index) in dataResult" :key="index">
                <v-layout row>
                  <v-flex xs10>
                    <v-card-text class="avenir-14-reg color-text-3 pb-3">
                      {{data.title}}
                    </v-card-text>
                  </v-flex>
                  <v-flex xs2 @click="edit(index)">
                    <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                      Edit
                    </v-card-text>
                  </v-flex>
                </v-layout>
                <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                  {{data.desc}}
                </v-card-text>
              </div>
            </v-layout>
          </v-window-item>
        </template>
      </v-window>
      <v-btn color="primary" v-if="step === 2" :disabled="disableButton" class="btn-next nexa-16-bold" depressed @click="plusStep()"> Lanjut </v-btn>
      <v-btn color="primary" v-if="step === 4 " class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :description="dialog.dialogErrorDesc"
    >
    </reusable-dialogs>

    <!-- Dialog Type Not Supported -->
    <reusable-dialogs
      v-model="dialog.dialogCheckType.isOpen"
      :title="dialog.dialogCheckType.title"
      :description="dialog.dialogCheckType.desc"
      :resize-image="true"
      :image="image"
    ></reusable-dialogs>
  </div>
</template>

<script>
import { VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle } from 'vuetify/lib'
import { VMoney } from 'v-money'
import Api from '@/services/Api'
// Import date datas
import { dateDatas, dateFormat, numberingNumber } from '@/services/Helpers'

export default {
  components: {
    VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle
  },
  name: 'FinacheckKycPersonal',
  directives: { money: VMoney },
  data () {
    return {
      step: 0,
      bottomDescYear: false,
      dataResult: [],
      education: [],
      jobs: [],
      flagsEdit: false,
      progressLine: 20,
      screenHeight: screen.height - 48,
      dialog: {
        dialogError: false,
        dialogErrorDesc: '',
        dialogCheckType: {
          isOpen: false,
          title: '',
          desc: ''
        }
      },
      sourcefund: null,
      fullname: '',
      agama: '',
      tempatlahir: '',
      nomorektp: '',
      telepon: '',
      pendidikan: '',
      pendidikan2: '',
      pekerjaan: '',
      pekerjaan2: '',
      identitasimage: '',
      gender: '',
      income: '',
      tahun: '',
      email: '',
      phone: '',
      bulan: '',
      tanggal: '',
      statusnikah: '',
      sumberpendapatan: '',
      sumberpendapatan2: '',
      focused: false,
      scroll: false,
      imageKtp: null,
      imageKtpType: '',
      imageKtpName: '',
      disableButton: false,
      isLoaded: false,
      image: require('@/assets/dashboard/danger.svg'),
      items: {
        status: [],
        pendapatan: [],
        sumber: [],
        pekerjaan: [],
        agama: [],
        pendidikan: []
      },
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        length: value => value.length >= 16 || 'Nomor KTP harus 16 digit',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        },
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      dateDatas: dateDatas
    }
  },
  computed: {
    fullBirthDate: function () {
      return this.tahun + '-' + this.bulan + '-' + this.tanggal
    },
    validationNull () {
      if (this.fullname === '' || this.agama === '' || this.pendidikan === '' || this.nomorektp === '' || this.imageKtp === '' || this.tempatlahir === '' || this.gender === '' || this.statusnikah === '' || this.sumberpendapatan === '' || this.tanggal === '' || this.bulan === '' || this.tahun === '' || this.fullname === null || this.agama === null || this.pendidikan === null || this.nomorektp === null || this.imageKtp === null || this.tempatlahir === null || this.gender === null || this.statusnikah === null || this.sumberpendapatan === null || this.tanggal === null || this.bulan === null || this.tahun === null) return true
    }
  },
  watch: {
    bottomDescYear () {
      this.$nextTick(() => (this.$refs.smoothPicker.getGroupsRectList()))
    },
    income: function (value) {
      // is Number validation
      const pattern = /^\d+$/
      if (pattern.test(Number(value.replace(/\./g, ''))) === false || value === '0') {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    }
  },
  mounted () {
    this.fetchDataMarital()
  },
  methods: {
    numberingNumber,
    dateFormat,
    dialogCheckType (title, desc) {
      this.imageKtp = null
      this.dialog.dialogCheckType.isOpen = true
      this.dialog.dialogCheckType.title = title
      this.dialog.dialogCheckType.desc = desc
    },
    edit (value) {
      this.step = value
      // set width progressLine
      this.progressLine = (value + 1) * 20
      this.flagsEdit = true
      this.disableButton = false
    },
    checkFlag () {
      if (this.$route.params.flag === 'profile') {
        this.flagsEdit = true
        this.plusStep()
      } else {
        //
      }
    },
    minStep () {
      if (this.flagsEdit === true) {
        if (this.step === 4) {
          this.$router.go(-1)
        } else {
          this.step = 4
          this.progressLine = 100
          this.$refs.incomes.$el.getElementsByTagName('input')[0].value = this.dataResult[2].data
        }
      } else {
        if (this.step === 0 || this.step === 4) {
          this.$router.go(-1)
        } else {
          this.step -= 1
          this.progressLine -= 20
        }
      }
    },
    plusStep (list, name, code) {
      // condition flags edit
      if (this.flagsEdit === true) {
        // length vwindow (go to result data)
        this.step = 4
        this.progressLine = 100
      } else {
        this.step += 1
        this.progressLine += 20
        this.flagsEdit = false
      }

      // select agama
      if (list === 'education') {
        // submit data
        this.pendidikan = code
        // view to user
        this.pendidikan2 = name
      } else if (list === 'jobs') {
        // submit data
        this.pekerjaan = code
        // view to user
        this.pekerjaan2 = name
      } else if (list === 'fundsource') {
        // submit data
        this.sumberpendapatan = code
        // view to user
        this.sumberpendapatan2 = name
      }

      let dataSubmit = [
        {
          title: 'Pendidikan Terakhir',
          desc: this.pendidikan2
        },
        {
          title: 'Pekerjaan',
          desc: this.pekerjaan2
        },
        {
          title: 'Pendapatan kotor per bulan',
          desc: numberingNumber(Number(this.income.replace(/\./g, ''))),
          data: this.income
        },
        {
          title: 'Sumber Pendapatan',
          desc: this.sumberpendapatan2
        }
      ]
      this.dataResult = dataSubmit
    },
    submit () {
      this.disableButton = true

      if (this.$route.params.flag === 'profile' && this.$route.params.submit === 'false') {
        // edit profile
        Api('finacheck/kyc/update', {
          education: this.pendidikan,
          occupation: this.pekerjaan,
          income: Number(this.income.replace(/\./g, '')),
          fundsource: this.sumberpendapatan
        }).then(() => {
          this.$router.push('/profile/settings')
          localStorage.setItem('halofina-name', JSON.stringify(this.fullname))
          this.trackEvent()
        }).catch((err) => {
          this.disableButton = false
          this.dialogs('Ada kesalahan', err.m)
        })
      } else {
        Api('finacheck/kyc/work/save/v2', {
          education: this.pendidikan,
          occupation: this.pekerjaan,
          monthlyincome: Number(this.income.replace(/\./g, '')),
          fundsource: this.sumberpendapatan
        }).then((res) => {
          this.trackEvent()
          this.disableButton = true
          this.$router.push('/v2/input/finacheck/kyc/list/new')
        }).catch((err) => {
          this.disableButton = false
          this.dialogs('Ada kesalahan', err.m)
        })
      }
    },
    dialogs (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    uploadidentitas () {
      this.$refs.imageidentitas.click()
    },
    trackEvent () {
      this.$analytics.track('KYC Personal Saved')
    },
    onFilePickedIdentitas (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('Tidak dapat mengunggah foto', 'Format file yang kamu pilih harus PNG, JPG, atau PDF.')
          return
        }
        this.identitasimage = files[0].name
        if (this.identitasimage.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeImage(files[0])
      }
    },
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.imageKtp = dataUrl
          self.imageKtpName = files.name
          self.imageKtpType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
      this.$analytics.track('KYC Personal Card Saved')
    },
    fetchDataMarital () {
      // get Marital Info
      Api('finacheck/reference/marital', {})
        .then((res) => {
          this.transformDataMarital(res.d)
          this.fetchDataEducation()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataEducation () {
      // get education Info
      Api('finacheck/reference/education', {})
        .then((res) => {
          this.transformDataEducation(res.d)
          this.education = res.d
          this.fetchDataOccupation()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataOccupation () {
      // get occupation Info
      Api('finacheck/reference/occupation', {})
        .then((res) => {
          this.transformDataOccupation(res.d)
          this.jobs = res.d
          this.fetchDataFund()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    fetchDataFund () {
      // get income per year Info
      Api('finacheck/reference/sourcefund', {})
        .then((res) => {
          this.sourcefund = res.d
          this.transformDataSourceOfFund(res.d)
          this.getUserData()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getUserData () {
      // get user info
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.pendidikan = res.d.education_code
          this.pendidikan2 = res.d.education
          this.pekerjaan = res.d.occupation_code
          this.pekerjaan2 = res.d.occupation
          this.sumberpendapatan = res.d.fundsource_code
          this.sumberpendapatan2 = res.d.fundsource
          this.getIncome()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    getIncome () {
      Api('finacheck/kyc/work', {})
        .then((res) => {
          this.income = res.d.monthlyincome
          this.isLoaded = true
          this.checkFlag()
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    goMarriage (items) {
      this.step += 1
    },
    goReligion (items) {
      this.step += 1
    },
    transformDataMarital (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.status.push(transformedData)
      }
    },
    transformDataEducation (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.pendidikan.push(transformedData)
      }
    },
    transformDataSourceOfFund (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.sumber.push(transformedData)
      }
    },
    transformDataOccupation (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.pekerjaan.push(transformedData)
      }
    },
    transformDataReligion (items) {
      var i = 0
      var transformedData = {}
      for (i; i < items.length; i++) {
        transformedData = {
          text: items[i].description,
          value: items[i].general_code
        }
        this.items.agama.push(transformedData)
      }
    }
  },
  created () {
    localStorage.setItem('halofina-route', '/finacheck/kyc/personal')
    this.trackPage()
  }

}
</script>

<style lang="sass">
  .finacheck-input-kyc-job
    *
      padding: 0
      margin: 0

    .progress-line
      background: #51AAF4
      height: 4px
      position: fixed
      z-index: 10

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .pt-140
      padding-top: 140px

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 70px !important
      max-height: 70px !important
      padding: 8px 0 20px

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .wrap-ktp-null
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: 166px

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto

    .wrap-ktp
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: auto

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto


    .wrap-gender
      border-radius: 8px
      border: 1px solid #B3B7C6

    .wrap-gender.active
      box-shadow: 0px 4px 8px rgba(140, 203, 255, 0.29)
      border-radius: 8px
      border: 2px solid #51AAF4

    .border-bottom-list
      border-bottom: 1px solid #E8EAEF

    .icon
      color: #B3B7C6 !important

    .v-text-field .v-input__prepend-inner
      padding-right: 8px
      margin-top: 0 !important

    .birthdate
      .v-input__slot
        border-radius: 4px !important
        border: 1px solid #E8EAEF
        background-color: #FFF !important

      .v-input input
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        font-size: 14px !important
        line-height: 30px
        color: #505565 !important
        height: 70px !important
        max-height: 70px !important
        padding: 18px 0 20px

</style>
