<template>
    <div class="finacheck-list-personal full-height">
        <reusable-toolbar page-name="Verifikasi Akun" :left="true" route="/dashboard"></reusable-toolbar>
        <v-container class="pa-0" style="margin-top: 64px">
          <v-layout column v-if="isLoaded === true">
            <v-card class="bg-supportive-blue-2 card-radius mx-3 pa-3" flat>
              <v-layout row align-start>
                <img src="@/assets/finacheck/kyc/secured.svg"/>
                <v-card-text class="ml-3 pa-0 color-supportive-blue-1 avenir-12-reg">
                  Halofina menggunakan standar enkripsi 256-bit. Kami hanya menggunakan data ini untuk syarat transaksi yang kamu lakukan. <br /><br /> Halofina Terdaftar di <span class="font-weight: 600">OJK</span> sebagai Penyelenggara Inovasi Keuangan Digital (No. 27)
                </v-card-text>
              </v-layout>
            </v-card>
            <v-card-text class="avenir-16-reg color-text-3 px-20">Silahkan isi semua data verifikasi untuk dapat membeli produk investasi di halofina</v-card-text>
            <div v-if="flag === 'new'">
              <v-layout class="bg-primary-3 mx-20 pa-20 wrap-list" @click="go(item.key, item.data)" row justify-space-between align-center v-for="(item, index) in items" :key="index">
                <v-layout row align-center>
                  <img class="pr-20" :src="item.img">
                  <span class="avenir-16-med">{{item.title}}</span>
                </v-layout>
                <img v-if="item.data !== null" src="@/assets/finacheck/fcu/circle-done.svg" alt="circle done">
                <img v-else src="@/assets/finacheck/fcu/circle-null.svg" alt="circle null">
              </v-layout>
            </div>
            <div v-else>
              <v-layout class="bg-primary-3 mx-20 pa-20 wrap-list" @click="goAdditional(item.mother)" row justify-space-between align-center v-for="(item, index) in items" :key="index" v-if="index < 1">
                <v-layout row align-center>
                  <img class="pr-20" :src="item.img">
                  <span class="avenir-16-med">{{item.title}}</span>
                </v-layout>
                <img v-if="item.mother !== null" src="@/assets/finacheck/fcu/circle-done.svg" alt="circle done">
                <img v-else src="@/assets/finacheck/fcu/circle-null.svg" alt="circle null">
              </v-layout>
            </div>
            <div style="height: 56px"></div>
            <v-btn class="text-xs-center color-primary-3 btn-premium nexa-16-bold" :disabled="disableButton" @click="next()">Lanjut</v-btn>
          </v-layout>
          <!-- </v-layout> -->
          <v-layout v-else align-center justify-center column class="full-height">
            <reusable-loading></reusable-loading>
          </v-layout>
        </v-container>
        <!-- Dialog Done -->
        <reusable-dialogs
          v-model="dialog.dialogDone"
          :image="dialog.dialogImageDone"
          :resize-image="true"
          :is-image-above-title="true"
          title="Verifikasi Kami Proses"
          classDialog="card-radius card pb-3"
          description="Data kamu akan kami proses, maksimal 2 hari kerja, kami akan memberitahu kamu saat verifikasi telah selesai">
          <div slot="layout-button">
            <v-btn depressed block class="btn-radius box-shadow mb-3" color="primary" @click.native="$router.push('/dashboard')" :ripple="false" >Kembali ke Dashboard</v-btn>
          </div>
        </reusable-dialogs>
        <!-- Dialog Error -->
        <reusable-dialogs v-model="dialog.dialogError" :resize-image="true" :description="dialog.dialogErrorDesc"></reusable-dialogs>
        <!-- Dialog Loading -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-5 row align-center justify-center>
                  <div class="nexa-14-bold px-5">Memproses...</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import { VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList } from 'vuetify/lib'
import Api from '@/services/Api'

import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    ReusableLoading, VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList
  },
  name: 'FinaspendPaymentBank',
  data () {
    return {
      dialog: {
        dialogErrorDesc: false,
        dialogError: false,
        dialogDone: false,
        dialogImageDone: require('@/assets/finavest/lifeplan/check.svg'),
        dialogLoading: false
      },
      flag: null,
      checkImg: require('@/assets/finacheck/kyc/checklist.svg'),
      kycStatus: null,
      items: [
        {
          title: 'Data Diri',
          data: null,
          mother: null,
          img: require('@/assets/finacheck/kyc/personal.svg'),
          key: 'personal'
        },
        {
          title: 'Data Pekerjaan',
          data: null,
          img: require('@/assets/finacheck/kyc/job.svg'),
          key: 'job'
        },
        {
          title: 'Data Alamat',
          data: null,
          img: require('@/assets/finacheck/kyc/address.svg'),
          key: 'address'
        },
        {
          title: 'Data Rekening',
          data: null,
          img: require('@/assets/finacheck/kyc/bank.svg'),
          key: 'bank'
        }
      ],
      disableButton: true,
      removeButton: false,
      isLoaded: false
    }
  },
  methods: {
    fetchDatas () {
      // get personal data
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.items[0].data = res.d.mother_maiden_name === null && this.kycStatus === 'REJECTED' ? null : res.d.mother_maiden_name
          this.items[1].data = res.d.fundsource === null ? null : res.d.fundsource
          this.items[0].mother = res.d.mother_maiden_name === null ? null : res.d.mother_maiden_name
          // get address data
          Api('finacheck/kyc/address', {})
            .then((res) => {
              this.items[2].data = res.d === null ? null : res.d
              // get bank data
              Api('finacheck/kyc/bank', {})
                .then((res) => {
                  this.items[3].data = res.d === null ? null : res.d
                  this.fetchDataSign()
                })
                .catch(() => {
                  this.dialog.dialogError = true
                })
            })
            .catch(() => {
              this.dialog.dialogError = true
            })
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataSign () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          this.checkButton(this.items)
        })
    },
    checkButton (items) {
      if (this.flag === 'existing') {
        if (items[0].mother === null) {
          this.isLoaded = true
          this.disableButton = true
        } else {
          this.isLoaded = true
          this.disableButton = false
        }
      } else {
        if (items[0].data === null || items[1].data === null || items[2].data === null || items[3].data === null) {
          this.isLoaded = true
          this.disableButton = true
        } else {
          this.isLoaded = true
          this.disableButton = false
        }
      }
    },
    go (type, flag) {
      if (flag !== null) {
        this.$router.push('/v2/input/finacheck/kyc/' + type + '/profile/true')
      } else {
        this.$router.push('/v2/input/finacheck/kyc/' + type + '/notprofile/false')
      }
    },
    goAdditional (flag) {
      if (flag !== null) {
        this.$router.push('/v2/input/finacheck/kyc/additional_personal/profile/true')
      } else {
        this.$router.push('/v2/input/finacheck/kyc/additional_personal/notprofile/false')
      }
    },
    next () {
      if (this.flag === 'new') {
        this.$router.push('/v2/input/finacheck/kyc/sk')
      } else {
        this.$router.push('/v2/input/finacheck/kyc/verification')
      }
    },
    getFlag () {
      this.flag = this.$route.params.flag
    },
    getKycStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          if (res.d.status === 'PENDING' || res.d.status === 'ONPROCESS' || res.d.status === 'COMPLETED') {
            this.removeButton = true
          } else {
            // this.disableButton = false
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    submit () {
      this.dialog.dialogLoading = true
      Api('finacheck/kyc/personal/sign', {
        signature: JSON.parse(localStorage.getItem('halofina-sign'))
      }).then((res) => {
        this.trackEvent()
        // this.disableButton = true
        this.dialog.dialogLoading = false
        this.dialog.dialogDone = true
      }).catch((err) => {
        // this.disableButton = false
        this.dialog.dialogLoading = false
        this.dialog.dialogError = true
        this.dialog.dialogErrorDesc = err.m
      })
    },
    trackEvent () {
      this.$analytics.track('KYC Submited')
    }
  },
  created () {
    this.getKycStatus()
    this.fetchDatas()
    this.getFlag()
  }
}
</script>
<style lang="sass">
  .finacheck-list-personal

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .v-divider--inset:not(.v-divider--vertical)
      margin-left: 0px
      max-width: none

    .wrap-list
      margin-bottom: 10px
      border: 1px solid #E8EAEF
      border-radius: 8px

    .btn-premium
      position: fixed
      bottom: 0
      background-color: #51AAF4 !important
      width: 100%
      height: 56px !important

</style>
