<template>
  <div class="finacheck-input-kyc-personal bg-primary-3" :style="'min-height: ' + screenHeight + 'px'">
    <reusable-toolbar page-name="Data Diri" :left="true">
      <div slot="button-toolbar">
        <v-btn class="w-40" icon @click="minStep()">
          <img src="@/assets/icons/icon-back.svg" style="width: 24px; height: 24px;" alt="arrow back">
        </v-btn>
      </div>
    </reusable-toolbar>
    <v-container v-if="isLoaded === true" class="toolbar-margin">
      <div class="progress-line" v-if="progressLine < 100" :style="'width: ' + progressLine + '%'"></div>
      <v-window v-model="step" :touchless="true">
        <template>
          <!-- Nomor e KTP -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Nomor KTP"
                placeholder="Nomor KTP"
                v-model="nomorektp"
                type="tel"
                maxlength="16"
                :rules="[rules.required, rules.length, rules.numbers]"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- Nama Lengkap -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Nama Lengkap sesuai KTP"
                placeholder="Nama Lengkap"
                :rules="[rules.required, rules.names, rules.whitespaces]"
                v-model="fullname"
                type="text"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- Tempat Lahir -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Tempat Lahir"
                placeholder="Tempat Lahir"
                :rules="[rules.required, rules.names, rules.whitespaces, rules.minimal, rules.maximal]"
                v-model="tempatlahir"
                maxlength="100"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- Tanggal Lahir -->
          <v-window-item class="pt-140 px-20">
            <v-card-text class="avenir-14-reg color-text-3 pb-3">
              Tanggal Lahir
            </v-card-text>
            <v-layout row class="birthdate">
              <v-flex xs4 class="mr-3">
                <v-select v-model="tanggal" :rules="[rules.required]" solo flat placeholder="Tgl" :items="dateDatas.tanggal"></v-select>
              </v-flex>
              <v-flex xs5 class="mr-3">
                <v-select mt-0 v-model="bulan" :rules="[rules.required]" solo flat placeholder="Bln" :items="dateDatas.bulan"></v-select>
              </v-flex>
              <v-flex xs5>
                <v-select mt-0 v-model="tahun" :rules="[rules.required]" solo flat placeholder="Thn" :items="dateDatas.tahun.slice(9)"></v-select>
              </v-flex>
            </v-layout>
            <v-card-text class="avenir-14-reg color-denotive-red-1" v-if="validationDate">
              Inputan tidak valid
            </v-card-text>
          </v-window-item>

          <!-- Jenis Kelamin -->
          <v-window-item>
            <v-layout column class="px-20 pt-20 margin-bottom-ktp">
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Jenis Kelamin
              </v-card-text>
              <v-layout @click="chooseGender('CSJKL001')" row wrap align-center pa-3 mb-3 :class="gender === 'CSJKL001' ? 'wrap-gender active': 'wrap-gender'">
                <img src="@/assets/finacheck/kyc/gender-man.svg" class="mr-4" alt="gender-man">
                <span class="avenir-22-reg">Pria</span>
              </v-layout>
              <v-layout @click="chooseGender('CSJKL002')" row wrap align-center pa-3 :class="gender === 'CSJKL002' ? 'wrap-gender active': 'wrap-gender'">
                <img src="@/assets/finacheck/kyc/gender-woman.svg" class="mr-4" alt="gender-man">
                <span class="avenir-22-reg">Wanita</span>
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- Status Perkawinan -->
          <v-window-item>
            <v-layout column class="pt-20 margin-bottom-ktp">
              <v-card-text class="px-3 avenir-14-med color-text-3 pb-3 border-bottom-list">
                Status Perkawinan
              </v-card-text>
              <v-layout row justify-space-between pa-3 v-for="(data, index) in marriage" :key="index" @click="plusStep('marriage', data.description, data.general_code)" class="border-bottom-list">
                <span class="avenir-16-reg">{{data.description}}</span>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- Agama -->
          <v-window-item>
            <v-layout column class="pt-20 margin-bottom-ktp">
              <v-card-text class="px-3 avenir-14-med color-text-3 pb-3 border-bottom-list">
                Agama
              </v-card-text>
              <v-layout row justify-space-between pa-3 v-for="(data, index) in religion" :key="index" @click="plusStep('religion', data.description, data.general_code)" class="border-bottom-list">
                <span class="avenir-16-reg">{{data.description}}</span>
                <img src="@/assets/finacheck/kyc/ic-arrow.svg" alt="icon arrow" class="ic-arrow">
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- Nama Gadis Ibu Kandung -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Nama Gadis Ibu Kandung"
                placeholder="Nama Lengkap"
                :rules="[rules.required, rules.names, rules.whitespaces]"
                v-model="mother"
                type="text"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- Nomor HP -->
          <v-window-item class="pt-140 px-20">
            <v-layout column>
              <v-flex xs12>
                <v-text-field
                label="Nomor HP"
                placeholder="Nomor HP"
                v-model="phone"
                type="tel"
                :rules="[rules.required, rules.numbers]"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-window-item>

          <!-- Foto KTP -->
          <v-window-item>
            <v-layout column class="px-20 pt-20 margin-bottom-ktp">
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Foto KTP
              </v-card-text>
              <v-layout @click="uploadidentitas" :rules="[rules.required]" column align-center justify-center>
                <!-- Box -->
                <template v-if="imageKtp === null">
                  <v-layout row class="wrap-ktp-null">
                    <v-layout column justify-center align-center class="sub-wrap-ktp">
                      <img src="@/assets/finacheck/kyc/ic-camera.svg" class="mb-2 pb-1" alt="icon foto">
                      <v-card-text class="avenir-14-reg color-text-4 text-xs-center">
                        Ambil Gambar
                      </v-card-text>
                    </v-layout>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan foto KTP kamu tidak blur dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <template v-else>
                  <v-layout v-if="imageKtpType !== 'application/pdf'" column class="wrap-ktp">
                    <v-layout row justify-center align-center class="sub-wrap-ktp">
                      <img class="foto" :src="imageKtp" alt="foto ktp">
                    </v-layout>
                  </v-layout>

                  <v-layout v-else column align-center justify-center>
                    <v-card-text class="text-align-center">{{ imageKtpName }}</v-card-text>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan foto KTP kamu tidak blur dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <!-- Input file -->
                <input type="file" style="display: none" ref="imageidentitas" accept="image/*" @change="onFilePickedIdentitas">
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- foto selfie -->
          <v-window-item>
            <v-layout column class="px-20 pt-20 margin-bottom-ktp">
              <v-card-text class="avenir-14-reg color-text-3 pb-3">
                Selfie dengan KTP
              </v-card-text>
              <v-layout @click="bottomSheetSelfie = true" :rules="[rules.required]" column align-center justify-center>
                <!-- Box -->
                <template v-if="imageSelfie === null">
                  <v-layout row class="wrap-ktp-null">
                    <v-layout column justify-center align-center class="sub-wrap-ktp">
                      <img src="@/assets/finacheck/kyc/ic-camera.svg" class="mb-2 pb-1" alt="icon foto">
                      <v-card-text class="avenir-14-reg color-text-4 text-xs-center">
                        Ambil Gambar
                      </v-card-text>
                    </v-layout>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan Selfie dengan KTP kamu jelas dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <template v-else>
                  <v-layout v-if="imageSelfieType !== 'application/pdf'" column class="wrap-ktp">
                    <v-layout row justify-center align-center class="sub-wrap-ktp">
                      <img class="foto" :src="imageSelfie" alt="foto ktp">
                    </v-layout>
                  </v-layout>

                  <v-layout v-else column align-center justify-center>
                    <v-card-text class="text-align-center">{{ imageSelfieName }}</v-card-text>
                  </v-layout>
                  <v-card-text class="avenir-14-reg color-text-3 mt-3 mb-3">
                    Pastikan foto KTP kamu tidak blur dan dapat terbaca dengan baik
                  </v-card-text>
                </template>
                <!-- Input file -->
                <input type="file" style="display: none" ref="imageselfie" accept="image/*" @change="onFilePickedSelfie">
              </v-layout>
            </v-layout>
          </v-window-item>

          <!-- Confirmation -->
          <v-window-item>
            <v-layout column px-3 pt-3 pb-5>
              <v-card-text class="avenir-16-reg color-text-3 pa-0 pb-3 mb-3 border-bottom-solid">
                Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar.
              </v-card-text>
              <div v-for="(data, index) in dataResult" :key="index">
                <v-layout row>
                  <v-flex xs10>
                    <v-card-text class="avenir-14-reg color-text-3 pb-3">
                      {{data.title}}
                    </v-card-text>
                  </v-flex>
                  <v-flex xs2 @click="edit(false, index)" v-if="flag !== 'profile'">
                    <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                      Edit
                    </v-card-text>
                  </v-flex>
                  <v-flex xs2 v-else>
                    <div v-if="$route.params.submit === 'false'">
                      <v-card-text class="avenir-14-reg text-xs-right color-brand-1" @click="edit(false, index)" v-if="data.title === 'Nomor HP' || data.title === 'Status Perkawinan' || data.title === 'Agama'">
                        Edit
                      </v-card-text>
                    </div>
                    <div v-else>
                      <v-card-text class="avenir-14-reg text-xs-right color-brand-1" @click="edit(false, index)">
                        Edit
                      </v-card-text>
                    </div>
                  </v-flex>
                </v-layout>
                <v-card-text class="avenir-22-reg pb-4 text-capitalize">
                  {{data.data ? data.data : data.desc }}
                </v-card-text>
              </div>

              <!-- Foto KTP -->
              <v-layout row v-if="flag !== 'profile'">
                <v-flex xs10>
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Foto KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 9)">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <v-layout row v-else>
                <v-flex xs10 v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Foto KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 9)" v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <div v-if="flag !== 'profile'">
                <v-layout row class="wrap-ktp mb-4">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageKtp" alt="foto ktp">
                  </v-layout>
                </v-layout>
              </div>
              <div v-else>
                <v-layout row class="wrap-ktp mb-4" v-if="$route.params.submit === 'true'">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageKtp" alt="foto ktp">
                  </v-layout>
                </v-layout>
              </div>
            
            <!-- Foto Selfie -->
              <v-layout row v-if="flag !== 'profile'">
                <v-flex xs10>
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Selfie dengan KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 10)">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <v-layout row v-else>
                <v-flex xs10 v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg color-text-3 pb-3">
                    Selfie dengan KTP
                  </v-card-text>
                </v-flex>
                <v-flex xs2 @click="edit(true, 10)" v-if="$route.params.submit === 'true'">
                  <v-card-text class="avenir-14-reg text-xs-right color-brand-1">
                    Edit
                  </v-card-text>
                </v-flex>
              </v-layout>

              <div v-if="flag !== 'profile'">
                <v-layout row class="wrap-ktp mb-4">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageSelfie" alt="foto selfie">
                  </v-layout>
                </v-layout>
              </div>
              <div v-else>
                <v-layout row class="wrap-ktp mb-4" v-if="$route.params.submit === 'true'">
                  <v-layout row justify-center align-center class="sub-wrap-ktp">
                    <img class="foto" :src="imageSelfie" alt="foto selfie">
                  </v-layout>
                </v-layout>
              </div>

            </v-layout>
          </v-window-item>
        </template>
      </v-window>
      <v-btn color="primary" :disabled="disableButton === true || nomorektp === null" v-if="step <= 4 || step >= 7 " class="btn-next nexa-16-bold" depressed @click="plusStep(false, null, null)"> Lanjut </v-btn>
      <v-btn color="primary" v-if="step === 11" class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
    </v-container>
    <v-container v-else>
      <v-layout column justify-center align-center class="full-height">
        <reusable-loading></reusable-loading>
      </v-layout>
    </v-container>
    <!-- Dialog Error -->
    <reusable-dialogs
      v-model="dialog.dialogError"
      :resize-image="true"
      :description="dialog.dialogErrorDesc"
    >
    </reusable-dialogs>

    <reusable-dialogs
        v-model="dialogLoading"
        :unclickable="true"
    >
        <div slot="layout">
          <v-card flat class="card-radius" style="width: 100%">
            <v-layout py-3 px-5 row align-center justify-center>
              <div class="nexa-14-bold px-5">Loading...</div>
            </v-layout>
          </v-card>
        </div>
    </reusable-dialogs>

    <reusable-bottom-sheet
      v-model="bottomSheetSelfie"
      :use-stripes="true"
      class-card="px-0 pt-2"
      :use-padding="false"
    >
      <div slot="custom-layout">
        <v-layout row justify-space-between class="px-20 border-bottom-solid">
          <v-card-text class="nexa-16-bold color-text-1 px-0 pt-0 pb-3">
            Panduan Selfie
          </v-card-text>
          <img src="@/assets/icons/icon-close.svg" style="height: 14px; width: auto !important;" @click="bottomSheetSelfie = false" />
        </v-layout>
        <div class="px-20">
          <v-card-text class="avenir-14-reg px-0 pt-4">
            Berikut panduan untuk melakukan verifikasi selfie dengan KTP:
          </v-card-text>
        </div>
        <v-layout row class="px-20">
          <v-flex xs6 class="text-xs-center">
            <img src="@/assets/finacheck/kyc/tutor-selfie-1.svg">
            <v-card-text class="avenir-14-reg pb-4 px-2">
              Jangan posisikan wajah di luar batas kamera dan KTP tidak di bawah dagu
            </v-card-text>
          </v-flex>
          <v-flex xs6 class="text-xs-center">
            <img src="@/assets/finacheck/kyc/tutor-selfie-2.svg">
            <v-card-text class="avenir-14-reg pb-4 px-2">
              Posisikan wajah ditengah kamera dan KTP simpan di bawah dagu
            </v-card-text>
          </v-flex>
        </v-layout>
        <div class="full-width px-20 pb-3">
          <v-btn color="primary" depressed class="nexa-16-bold color-primary-3 full-width h-48 btn-radius-new" @click="uploadselfie">Ambil Gambar</v-btn>
        </div>
      </div>
    </reusable-bottom-sheet>

    <!-- Dialog Type Not Supported -->
    <reusable-dialogs
      v-model="dialog.dialogCheckType.isOpen"
    >
    <div slot="layout">
      <v-card flat class="card-radius-new" style="width: 100%">
        <div class="text-xs-center px-4 py-4">
          <img src="@/assets/finacheck/kyc/file-not-supported.svg" alt="file-not-supported">
          <v-card-text class="nexa-16-bold pa-0 pb-1 pt-4 color-text-1 text-xs-center">
            Ada Kesalahan
          </v-card-text>
          <v-card-text class="avenir-12-reg pa-0 pb-3 text-xs-center">
            Format file yang kamu masukan <br /> tidak sesuai.
          </v-card-text>
          <v-btn @click="tryAgain()" color="primary" class="nexa-14-bold color-primary-3 full-width mx-20 btn-radius-new" depressed>Coba Lagi</v-btn>
        </div>
      </v-card>
    </div>
    </reusable-dialogs>
  </div>
</template>

<script>
import { VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle } from 'vuetify/lib'
import { VMoney } from 'v-money'
import Api from '@/services/Api'
import { dateDatas, dateFormat } from '@/services/Helpers'
import reusableBottomSheet from '@/components/reusable/ReusableBottomSheet'
/**
 * @group /v2/kyc/input
 * Personal
*/
export default {
  components: {
    VSelect, VRadio, VRadioGroup, VTextField, VForm, VWindow, VWindowItem, VBtnToggle, reusableBottomSheet
  },
  name: 'FinacheckKycPersonal',
  directives: { money: VMoney },
  data () {
    return {
      step: 0,
      type: '',
      bottomSheetSelfie: false,
      dialogLoading: false,
      progressLine: 9,
      bottomDescYear: false,
      dataResult: [],
      marriage: null,
      religion: null,
      flagsEdit: false,
      screenHeight: screen.height - 48,
      flag: '',
      dialog: {
        dialogError: false,
        dialogErrorDesc: '',
        dialogCheckType: {
          isOpen: false,
          type: ''
        }
      },
      files: null,
      filesName: null,
      kycStatus: '',
      validationDate: false,
      resultKtp: '',
      imageUrl: '',
      fullname: '',
      mother: '',
      agama: '',
      agama2: '',
      tempatlahir: '',
      nomorektp: '',
      telepon: '',
      pendidikan: '',
      pendidikan2: '',
      identitasimage: '',
      identitasselfie: '',
      gender: '',
      gender2: '',
      pekerjaan: '',
      income: '',
      tahun: '',
      email: '',
      phone: '',
      bulan: '',
      tanggal: '',
      statusnikah: '',
      statusnikah2: '',
      sumberpendapatan: '',
      focused: false,
      scroll: false,
      imageKtp: null,
      imageKtpType: '',
      imageKtpName: '',
      imageSelfie: null,
      imageSelfieType: '',
      imageSelfieName: '',
      disableButton: true,
      isLoaded: false,
      userId: '',
      imageUrlSelfie: null,
      resultBirthday: null,
      image: require('@/assets/dashboard/danger.svg'),
      items: {
        status: [],
        pendapatan: [],
        sumber: [],
        pekerjaan: [],
        agama: [],
        pendidikan: []
      },
      formData: new FormData(),
      money: {
        thousands: '.',
        precision: 0,
        masked: true
      },
      rules: {
        error: 'Harus diisi',
        required: value => !!value || 'Harus diisi.',
        length: value => value.length >= 16 || 'Nomor KTP harus 16 digit',
        names: value => {
          const pattern = /[^a-zA-Z' ]/
          return !pattern.test(value) || 'Isi dengan huruf'
        },
        minimal: value => {
          return value.length >= 3 || 'Minimal 3 karakter'
        },
        maximal: value => {
          return value.length <= 100 || 'Maksimal 100 karakter'
        },
        whitespaces: value => !!value.replace(/\s/g, '').length || 'Harus diisi.',
        numbers: value => {
          const pattern = /^\d+$/
          return pattern.test(value) || 'Isi dengan angka'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Format e-mail salah'
        }
      },
      dateDatas: dateDatas
    }
  },
  computed: {
    fullBirthDate: function () {
      return this.tahun + '-' + this.bulan + '-' + this.tanggal
    }
  },
  watch: {
    bottomDescYear () {
      this.$nextTick(() => (this.$refs.smoothPicker.getGroupsRectList()))
    },
    nomorektp: function (value) {
      // is Number validation
      const pattern = /^\d+$/
      if (pattern.test(value) === false || value.length < 16 || value === '' || value === null) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    fullname: function (value) {
      // is Text validation
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true || value === '' || !value.replace(/\s/g, '').length === true) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    mother: function (value) {
      // is Text validation
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true || value === '' || !value.replace(/\s/g, '').length === true) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    imageKtp: function (value) {
      if (this.imageKtp === null) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    imageSelfie: function (value) {
      if (this.imageSelfie === null) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    phone: function (value) {
      const pattern = /^\d+$/
      if (pattern.test(value) === false || this.phone === null) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    tempatlahir: function (value) {
      // is Text validation
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true || this.tempatlahir === '' || !value.replace(/\s/g, '').length === true || value.length < 3 || value.length > 100) {
        this.disableButton = true
      } else {
        this.disableButton = false
      }
    },
    tanggal: function (value) {
      if (this.tanggal === '' || this.bulan === '' || this.tahun === '') {
        this.disableButton = true
      } else {
        this.disableButton = false
      }

      // validation date valid
      if (parseInt(this.bulan) % 2 === 0) {
        if (this.bulan === '08' || this.bulan === '10' || this.bulan === '12') {
          this.validationDate = false
          this.disableButton = false
        } else {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '09' || this.bulan === '11') {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        } else {
          this.validationDate = false
          this.disableButton = false
        }
      }
      // validation kabisat februari
      if (this.tahun % 4 === 1) {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 28) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 29) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      }
    },
    bulan: function (value) {
      if (this.tanggal === '' || this.bulan === '' || this.tahun === '') {
        this.disableButton = true
      } else {
        this.disableButton = false
      }

      // validation date valid
      if (parseInt(this.bulan) % 2 === 0) {
        if (this.bulan === '08' || this.bulan === '10' || this.bulan === '12') {
          this.validationDate = false
          this.disableButton = false
        } else {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '09' || this.bulan === '11') {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        } else {
          this.validationDate = false
          this.disableButton = false
        }
      }

      // validation kabisat februari
      if (this.tahun % 4 === 1) {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 28) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 29) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      }
    },
    tahun: function (value) {
      if (this.tanggal === '' || this.bulan === '' || this.tahun === '') {
        this.disableButton = true
      } else {
        this.disableButton = false
      }

      // validation date valid
      if (parseInt(this.bulan) % 2 === 0) {
        if (this.bulan === '08' || this.bulan === '10' || this.bulan === '12') {
          this.validationDate = false
          this.disableButton = false
        } else {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '09' || this.bulan === '11') {
          if (parseInt(this.tanggal) > 30) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        } else {
          this.validationDate = false
          this.disableButton = false
        }
      }

      // validation kabisat februari
      if (this.tahun % 4 === 1) {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 28) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      } else {
        if (this.bulan === '02') {
          if (parseInt(this.tanggal) > 29) {
            this.validationDate = true
            this.disableButton = true
          } else {
            this.validationDate = false
            this.disableButton = false
          }
        }
      }
    }
  },
  methods: {
    dateFormat,
    /**
     * @vuese
     * Check flag by $route.params (can be edited or not)
    */
    checkFlag () {
      if (this.$route.params.flag === 'profile') {
        this.flagsEdit = true
        this.plusStep()
      } else {
        if (this.kycStatus === 'REJECTED' && this.mother === null) {
          this.step = 7
          this.progressLine = 72
        }
        this.disableButton = true
      }
    },
    /**
     * @vuese
     * check type and try again upload foto
    */
    tryAgain () {
      if (this.type === 'ktp') {
        this.dialog.dialogCheckType.isOpen = false
      } else {
        this.dialog.dialogCheckType.isOpen = false
        this.bottomSheetSelfie = true
      }
    },
    /**
     * @vuese
     * case 1 : (flagsEdit === true) then go to the last form (result data)
     * case 2 : else back to the previous form (-1)
    */
    minStep () {
      if (this.flagsEdit === true) {
        if (this.step === 11) {
          this.$router.go(-1)
        } else {
          this.step = 11
          this.progressLine = 100
          this.nomorektp = this.resultKtp
          this.fullname = this.dataResult[1].desc
          this.tempatlahir = this.dataResult[2].desc
          // birthday
          this.tahun = this.resultBirthday[0]
          this.bulan = this.resultBirthday[1]
          this.tanggal = this.resultBirthday[2]
          this.gender = this.dataResult[4].desc
          this.statusnikah = this.dataResult[5].desc
          this.agama = this.dataResult[6].desc
          this.mother = this.dataResult[7].desc
          this.phone = this.dataResult[8].desc
        }
      } else {
        if (this.step === 0 || this.step === 11) {
          this.$router.go(-1)
        } else {
          if (this.step === 7 && this.kycStatus === 'REJECTED') {
            this.$router.push('/v2/input/finacheck/kyc/list/new')
          } else if (this.step === 10 && this.kycStatus === 'REJECTED') {
            this.step = 7
            this.progressLine = 72
          } else {
            this.step -= 1
            this.progressLine -= 10
          }
          this.disableButton = false
        }
      }
    },
    getKycStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
        })
        .catch(() => {
        })
    },
    /**
     * @vuese
     * case 1 : (flagsEdit === true) then go to the last form (result data)
     * case 2 : else next form (+1)
     * @arg list: String or Boolean, @arg name: String, @arg code: String
    */
    plusStep (list, name, code) {
      // condition flags edit
      if (this.flagsEdit === true) {
        // length vwindow (go to result data)
        this.step = 11
        this.progressLine = 100
      } else {
        this.disableButton = true
        // selfie kosong dan kyc status rejected
        if (this.step === 7 && this.imageSelfie === null && this.kycStatus === 'REJECTED') {
          this.step = 10
          this.progressLine = 99
        } else {
          this.step += 1
          this.progressLine += 9
        }
        this.flagsEdit = false

        // next step and input not null
        if (this.step === 1 && this.fullname === null) {
          this.disableButton = true
        } else if (this.step === 2 && this.tempatlahir === null) {
          this.disableButton = true
        } else if (this.step === 3) {
          if (this.tanggal === null || this.bulan === null || this.tahun === null) {
            this.disableButton = true
          } else {
            this.disableButton = false
          }
        } else if (this.step === 4 && this.gender === null) {
          this.disableButton = true
        } else if (this.step === 7 && this.mother === null) {
          this.disableButton = true
        } else if (this.step === 8 && this.phone === null) {
          this.disableButton = true
        } else if (this.step === 9 && this.imageKtp === null) {
          this.disableButton = true
        } else if (this.step === 10 && this.imageSelfie === null) {
          this.disableButton = true
        } else {
          this.disableButton = false
        }
      }

      // select agama
      if (list === 'religion') {
        // submit data
        this.agama = code
        // view to user
        this.agama2 = name
      } else if (list === 'marriage') {
        // submit data
        this.statusnikah = code
        // view to user
        this.statusnikah2 = name
      }

      let dataSubmit = [
        {
          title: 'Nomor KTP',
          desc: this.nomorektp,
          data: ''
        },
        {
          title: 'Nama Lengkap',
          desc: this.fullname,
          data: ''
        },
        {
          title: 'Tempat Lahir',
          desc: this.tempatlahir,
          data: ''
        },
        {
          title: 'Tanggal Lahir',
          desc: dateFormat(this.tahun + '-' + this.bulan + '-' + this.tanggal, 'DD MMMM YYYY'),
          data: ''
        },
        {
          title: 'Jenis Kelamin',
          desc: this.gender,
          data: this.gender2
        },
        {
          title: 'Status Perkawinan',
          desc: this.statusnikah,
          data: this.statusnikah2
        },
        {
          title: 'Agama',
          desc: this.agama,
          data: this.agama2
        },
        {
          title: 'Nama Gadis Ibu Kandung',
          desc: this.mother,
          data: ''
        },
        {
          title: 'Nomor HP',
          desc: this.phone,
          data: ''
        }
      ]
      this.resultKtp = this.nomorektp
      let dataresultBirthday = [this.tahun, this.bulan, this.tanggal]
      this.resultBirthday = dataresultBirthday
      this.dataResult = dataSubmit
    },
    /**
     * @vuese
     * case 1 : (flags === true) then step = index
     * case 2 : else step = index + 2
     * @arg flags: Boolean, @arg value: Number
    */
    edit (flags, value) {
      this.step = value
      // set width progressLine
      this.progressLine = (value + 1) * 8
      this.disableButton = false
      this.flagsEdit = true
    },
    /**
     * @vuese
     * case 1 : (value === 'CSJKL001') then gender = Pria
     * case 2 : else gender = Wanita
     * @arg value: String
    */
    chooseGender (value) {
      this.gender = value
      this.disableButton = false

      if (value === 'CSJKL001') {
        this.gender2 = 'Pria'
      } else {
        this.gender2 = 'Wanita'
      }
    },
    /**
     * @vuese
     * case 1 : (value === 'CSJKL001') then gender = Pria
     * case 2 : else gender = Wanita
     * @arg title: String, @arg desc: String
    */
    dialogCheckType (type) {
      if (type === 'ktp') {
        this.imageKtp = null
        this.dialog.dialogCheckType.isOpen = true
        this.type = 'ktp'
      } else {
        this.imageSelfie = null
        this.dialog.dialogCheckType.isOpen = true
        this.type = 'selfie'
      }
    },
    /**
     * @vuese
     * case 1 : if opened from change profile then call api kyc update
     * case 2 : else call api kyc save
    */
    submit () {
      this.disableButton = true
      this.dialogLoading = true

      if (this.$route.params.flag === 'profile' && this.$route.params.submit === 'false') {
        // edit profile
        Api('finacheck/kyc/update', {
          userid: this.userId,
          email: this.email,
          phone: this.phone,
          marital: this.statusnikah,
          religion: this.agama
        }).then(() => {
          this.$router.push('/profile/settings')
          localStorage.setItem('halofina-name', JSON.stringify(this.fullname))
          this.trackEvent()
        }).catch(() => {
          this.disableButton = false
          this.dialogLoading = false
          this.dialogs('Ada kesalahan', 'Nomor telepon telah terdaftar')
        })
      } else {
        // kyc
        if (this.imageKtpName === '') {
          this.imageKtp = null
        } else {
          //
        }
        if (this.files === null) {
          this.formData.append('selfie', null)
        } else {
          this.formData.append('selfie', this.files, this.filesName)
        }
        this.formData.append('data', JSON.stringify({
          payment_number: this.id,
          ktp_number: this.nomorektp,
          mother_maiden_name: this.mother,
          ktp_image: this.imageKtp,
          fullname: this.fullname,
          phone: this.phone,
          birthplace: this.tempatlahir,
          birthdate: this.fullBirthDate,
          gender: this.gender,
          marital: this.statusnikah,
          religion: this.agama
        }))

        var self = this
        // self.dialog.dialogUploading = true
        fetch(process.env.API_SERVER + 'finacheck/kyc/personal/save/v2', {
          method: 'POST',
          headers: {
            'X-Authorization': `Bearer ${localStorage.getItem('halofina-token')}`,
            'X-Api-Key': process.env.API_KEY
          },
          body: self.formData
        }).then((response) => {
          if (response.status !== 200) {
            throw response
          }

          return response.json()
        }).then((response) => {
          if (response.s !== 200 && response.success !== true) {
            throw response
          }

          return response
        }).then((res) => {
          self.formData = new FormData()
          localStorage.setItem('halofina-name', JSON.stringify(this.fullname))
          localStorage.setItem('halofina-foto', this.imageKtp)
          this.trackEvent()
          this.$router.push('/v2/input/finacheck/kyc/list/new')
        }).catch((err) => {
          this.disableButton = false
          this.dialogLoading = false
          this.dialogs('Ada kesalahan', err.m)
        })
      }
    },
    /**
     * @vuese
     * open dialogs error
    */
    dialogs (title, desc) {
      this.dialog.dialogError = true
      this.dialog.dialogErrorDesc = desc
    },
    /**
     * @vuese
     * open file or camera
    */
    uploadidentitas () {
      this.$refs.imageidentitas.click()
    },
    /**
     * @vuese
     * open file or camera
    */
    uploadselfie () {
      this.$refs.imageselfie.click()
    },
    /**
     * @vuese
     * track mixpanel KYC Personal Saved
    */
    trackEvent () {
      this.$analytics.track('KYC Personal Saved')
    },
    /**
     * @vuese
     * set image, validation format image and call function resizeImage
    */
    onFilePickedIdentitas (e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('ktp')
          return
        }
        this.identitasimage = files[0].name
        if (this.identitasimage.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeImage(files[0])
      }
    },
    /**
     * @vuese
     * set image, validation format image and call function resizeImage
    */
    onFilePickedSelfie (e) {
      this.formData = new FormData()
      let files = e.target.files || e.dataTransfer.files
      if (files.length > 0) {
        // If file is not pdf jpg or png
        if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg' && files[0].type !== 'application/pdf') {
          this.dialogCheckType('ktp')
          return
        }
        this.identitasselfie = files[0].name
        if (this.identitasselfie.lastIndexOf('.') <= 0) {
          return
        }
        this.resizeSelfie(files[0])
        for (let i = 0; i < files.length; i++) {
          this.files = files[i]
          this.filesName = files[i].name
        }
      }
      this.bottomSheetSelfie = false
    },
    /**
     * @vuese
     * resize image max size 544
    */
    resizeImage (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.imageKtp = dataUrl
          self.imageKtpName = files.name
          self.imageKtpType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
      this.$analytics.track('KYC Personal Card Saved')
    },
    /**
     * @vuese
     * resize image max size 544
    */
    resizeSelfie (files) {
      const fr = new FileReader()
      var self = this
      fr.onload = function (readerEvent) {
        var image = new Image()
        image.onload = function (imageEvent) {
          var canvas = document.createElement('canvas')
          var maxSize = 544
          var width = image.width
          var height = image.height
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width
              width = maxSize
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height
              height = maxSize
            }
          }
          canvas.width = width
          canvas.height = height
          canvas.getContext('2d').drawImage(image, 0, 0, width, height)
          var dataUrl = canvas.toDataURL('image/jpeg')
          self.imageSelfie = dataUrl
          self.imageSelfieName = files.name
          self.imageSelfieType = files.type
        }
        image.src = readerEvent.target.result
      }
      fr.readAsDataURL(files)
      this.$analytics.track('KYC Personal Card Saved')
    },
    /**
     * @vuese
     * fetch data marital and call function fetchDataReligion
    */
    fetchDataMarital () {
      // get Marital Info
      Api('finacheck/reference/marital', {})
        .then((res) => {
          this.fetchDataReligion()
          this.marriage = res.d
          this.flag = this.$route.params.flag
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    /**
     * @vuese
     * fetch data religion
    */
    fetchDataReligion () {
      // get religion Info
      Api('finacheck/reference/religion', {})
        .then((res) => {
          this.religion = res.d
          this.getUserData()
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    /**
     * @vuese
     * fetch data user data and call function getIncome
    */
    getUserData () {
      // get user info
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.nomorektp = res.d.ktp_number
          this.fullname = res.d.fullname
          this.tempatlahir = res.d.birthplace
          this.mother = res.d.mother_maiden_name
          this.gender = res.d.gender_code
          this.gender2 = res.d.gender
          this.statusnikah = res.d.marital_code
          this.statusnikah2 = res.d.marital
          this.pendidikan = res.d.education_code
          this.pendidikan2 = res.d.education
          this.agama = res.d.religion_code
          this.agama2 = res.d.religion
          this.pekerjaan = res.d.occupation_code
          this.sumberpendapatan = res.d.fundsource_code
          this.tahun = res.d.birthdate.substr(0, 4)
          this.bulan = res.d.birthdate.substr(5, 2)
          this.tanggal = res.d.birthdate.substr(8, 2)
          this.userId = res.d.userid
          this.phone = res.d.phone
          this.email = localStorage.getItem('halofina-email')
          this.checkFlag()
          this.isLoaded = true
        })
        .catch(() => {
          this.dialogError = true
        })
    },
    /**
     * @vuese
     * fetch data foto ktp
    */
    getUserKtp () {
      Api('finacheck/kyc/identity', {})
        .then((res) => {
          this.imageUrl = res.d[0].image_url
          this.imageUrlSelfie = res.d[0].image_url
          // this.imageKtp = localStorage.getItem('halofina-sign')
          if (res.d.length !== 0) this.imageKtp = res.d[0].image_url
          if (res.d.length !== 0) this.imageSelfie = res.d[0].selfie_url
        })
        .catch(() => {
          this.dialogError = true
        })
    }
  },
  created () {
    this.fetchDataMarital()
    this.getUserKtp()
    this.getKycStatus()
    this.trackPage()
  }
}
</script>

<style lang="sass">
  .border-bottom-solid
    border-bottom: 1px solid #E8EAEF
  
  .h-48
    height: 48px !important

  .finacheck-input-kyc-personal
    *
      padding: 0
      margin: 0

    .progress-line
      background: #51AAF4
      height: 4px
      position: fixed
      z-index: 10
      // transition: .8s

    .v-text-field__details
      padding-top: 4px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .pt-140
      padding-top: 140px

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 70px !important
      max-height: 70px !important
      padding: 8px 0 20px

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .wrap-ktp-null
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: 166px

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto

    .wrap-ktp
      border: 1px solid #E8EAEF
      border-radius: 8px
      padding: 8px
      width: 100%
      height: auto

      .sub-wrap-ktp
        width: 100%
        border: 1px dashed #E8EAEF
        box-sizing: border-box
        border-radius: 8px
        background: #F9FAFC
        overflow: hidden

        .foto
          width: 100%
          height: auto

    .margin-bottom-ktp
      margin-bottom: 56px

    .wrap-gender
      border-radius: 8px
      border: 1px solid #B3B7C6

      &.active
        box-shadow: 0px 4px 8px rgba(140, 203, 255, 0.29)
        border-radius: 8px
        border: 2px solid #51AAF4

    .border-bottom-list
      border-bottom: 1px solid #E8EAEF

    .icon
      color: #B3B7C6 !important

    .v-text-field .v-input__prepend-inner
      padding-right: 8px
      margin-top: 0 !important

    .birthdate
      .v-input__slot
        border-radius: 4px !important
        border: 1px solid #E8EAEF
        background-color: #FFF !important

      .v-input input
        font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
        font-size: 14px !important
        line-height: 30px
        color: #505565 !important
        height: 70px !important
        max-height: 70px !important
        padding: 18px 0 20px

</style>
