<template>
    <div class="finacheck-list-personal full-height">
        <reusable-toolbar page-name="Data Verifikasi" :left="true" route="/dashboard"></reusable-toolbar>
        <v-container class="pa-0">
            <v-layout column v-if="isLoaded === true">
                <v-card-text class="nexa-16-bold color-text-1 px-20">List Data Verifikasi</v-card-text>

                <v-layout class="bg-primary-3 mx-20 pa-20 wrap-list" @click="go(item.key)" row justify-space-between align-center v-for="(item, index) in items" :key="index">
                  <v-layout row align-center>
                    <img class="pr-20" :src="item.img">
                    <span class="avenir-16-med">{{item.title}}</span>
                  </v-layout>
                  <img src="@/assets/icons/icon-arrow-black.svg" alt="icon-arrow-black">
                </v-layout>

                <!-- <div class="px-3" v-if="removeButton === false">
                  <v-btn depressed block class="btn-radius box-shadow" color="primary" @click="submit()" :ripple="false" :disabled="disableButton">Submit</v-btn>
                </div>
                <div class="px-3" v-else>
                  <v-btn depressed block class="btn-radius box-shadow" color="primary" @click.native="$router.push('/finacheck/kyc/data_kyc')" :ripple="false">Lihat Data</v-btn>
                </div> -->
            </v-layout>
            <v-layout v-else align-center justify-center column>
              <br /><br /><br /><br /><br />
              <reusable-loading></reusable-loading>
            </v-layout>
        </v-container>
        <!-- Dialog Done -->
        <reusable-dialogs
          v-model="dialog.dialogDone"
          :image="dialog.dialogImageDone"
          :resize-image="true"
          :is-image-above-title="true"
          title="Verifikasi Kami Proses"
          classDialog="card-radius card pb-3"
          description="Data kamu akan kami proses, maksimal 2 hari kerja, kami akan memberitahu kamu saat verifikasi telah selesai">
          <div slot="layout-button">
            <v-btn depressed block class="btn-radius box-shadow mb-3" color="primary" @click.native="$router.push('/dashboard')" :ripple="false" >Kembali ke Dashboard</v-btn>
          </div>
        </reusable-dialogs>
        <!-- Dialog Error -->
        <reusable-dialogs v-model="dialog.dialogError" :resize-image="true" :description="dialog.dialogErrorDesc"></reusable-dialogs>
        <!-- Dialog Loading -->
        <reusable-dialogs
            v-model="dialog.dialogLoading"
            :unclickable="true"
        >
            <div slot="layout">
              <v-card flat class="card-radius" style="width: 100%">
                <v-layout py-3 px-5 row align-center justify-center>
                  <div class="nexa-14-bold px-5">Memproses...</div>
                </v-layout>
              </v-card>
            </div>
        </reusable-dialogs>
    </div>
</template>

<script>
import { VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList } from 'vuetify/lib'
import Api from '@/services/Api'

import ReusableLoading from '@/components/reusable/ReusableLoading'

export default {
  components: {
    ReusableLoading, VListTileAction, VListTileSubTitle, VListTileAvatar, VListTileContent, VListTile, VListTileTitle, VList
  },
  name: 'FinaspendPaymentBank',
  data () {
    return {
      dialog: {
        dialogErrorDesc: false,
        dialogError: false,
        dialogDone: false,
        dialogImageDone: require('@/assets/finavest/lifeplan/check.svg'),
        dialogLoading: false
      },
      checkImg: require('@/assets/finacheck/kyc/checklist.svg'),
      kycStatus: null,
      items: [
        {
          title: 'Data Diri',
          data: null,
          img: require('@/assets/finacheck/kyc/personal.svg'),
          key: 'personal'
        },
        {
          title: 'Data Pekerjaan',
          data: null,
          img: require('@/assets/finacheck/kyc/job.svg'),
          key: 'job'
        },
        {
          title: 'Data Alamat',
          data: null,
          img: require('@/assets/finacheck/kyc/address.svg'),
          key: 'address'
        },
        {
          title: 'Data Rekening',
          data: null,
          img: require('@/assets/finacheck/kyc/bank.svg'),
          key: 'bank'
        }
      ],
      disableButton: true,
      removeButton: false,
      isLoaded: false
    }
  },
  methods: {
    fetchDatas () {
      // get personal data
      Api('finacheck/kyc/personal', {})
        .then((res) => {
          this.items[0].data = res.d.ktp_number
          // get address data
          Api('finacheck/kyc/address', {})
            .then((res) => {
              this.items[1].data = res.d
              // get bank data
              Api('finacheck/kyc/bank', {})
                .then((res) => {
                  this.items[2].data = res.d
                  this.fetchDataSign()
                })
                .catch(() => {
                  this.dialog.dialogError = true
                })
            })
            .catch(() => {
              this.dialog.dialogError = true
            })
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    fetchDataSign () {
      Api('finacheck/kyc/signature', {})
        .then((res) => {
          if (localStorage.getItem('halofina-sign')) {
            this.items[3].data = JSON.parse(localStorage.getItem('halofina-sign'))
          } else {
            if (res.d.length !== 0) this.items[3].data = res.d[0].image
          }
          this.checkButton(this.items)
        })
    },
    checkButton (items) {
      if (items[0].data === null || items[1].data === null || items[2].data === null || items[3].data === null) {
        this.disableButton = true
        this.isLoaded = true
      } else {
        this.isLoaded = true
        this.disableButton = false
      }
    },
    go (type) {
      if (this.kycStatus === 'PENDING' || this.kycStatus === 'ONPROCESS') {
      // if (this.kycStatus === 'PENDING' || this.kycStatus === 'ONPROCESS' || this.kycStatus === 'COMPLETED') {
        this.$router.push(null)
      } else {
        this.$router.push('/v2/finacheck/kyc/' + type)
      }
    },
    getKycStatus () {
      Api('finacheck/kyc/status', {})
        .then((res) => {
          this.kycStatus = res.d.status
          if (res.d.status === 'PENDING' || res.d.status === 'ONPROCESS' || res.d.status === 'COMPLETED') {
            this.removeButton = true
          } else {
            this.disableButton = false
          }
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    submit () {
      this.dialog.dialogLoading = true
      Api('finacheck/kyc/personal/sign', {
        signature: JSON.parse(localStorage.getItem('halofina-sign'))
      }).then((res) => {
        this.trackEvent()
        this.disableButton = true
        this.dialog.dialogLoading = false
        this.dialog.dialogDone = true
      }).catch((err) => {
        this.disableButton = false
        this.dialog.dialogLoading = false
        this.dialog.dialogError = true
        this.dialog.dialogErrorDesc = err.m
      })
    },
    trackEvent () {
      this.$analytics.track('KYC Submited')
    }
  },
  created () {
    this.getKycStatus()
    this.fetchDatas()
  }
}
</script>
<style lang="sass">
  .finacheck-list-personal

    .v-toolbar
      position: relative
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .v-divider--inset:not(.v-divider--vertical)
      margin-left: 0px
      max-width: none

    .wrap-list
      margin-bottom: 10px
      border: 1px solid #E8EAEF
      border-radius: 8px

</style>
