<template>
  <div class="kyc-process bg-primary-3 full-height">
    <v-layout column align-center class="px-20 pt-5">
      <img src="@/assets/finacheck/kyc/kyc-process.svg" alt="kyc-process" class="pb-20">
      <v-card-text class="nexa-18-bold color-black pb-3 text-xs-center">
        Tahap Verifikasi sedang dalam Proses
      </v-card-text>
      <v-card-text class="avenir-14-reg text-xs-center">
        Proses verifikasi akun berlangsung paling lambat <b>2 x 24 jam.</b> Silahkan periksa kembali <br /> lain waktu.
      </v-card-text>
    </v-layout>
    <v-btn color="primary" class="btn-next nexa-16-bold" depressed @click="goHome()">Kembali ke beranda</v-btn>
  </div>
</template>
<script>
export default {
  data: () => ({
  }),
  methods: {
    goHome () {
      this.$router.push('/dashboard')
    }
  }
}
</script>
<style lang="sass">
  .kyc-process
    *
      padding: 0
      margin: 0

    .btn-next
      width: 100%
      position: absolute
      bottom: 0
      height: 56px !important
</style>
